{% macro datatables_css() %}
<link href="{{ url_for('reporting.static', filename='css/dataTables.bootstrap.css') }}" media="all" rel="stylesheet" type="text/css">
<link href="{{ url_for('reporting.static', filename='DataTables-1.10.1/media/css/jquery.dataTables_themeroller.css')}}" media="all" rel="stylesheet" type="text/css"/>

<link href="{{ url_for('reporting.static', filename='DataTables-1.10.1/extensions/ColVis/css/dataTables.colVis.min.css')}}" media="all" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('reporting.static', filename='DataTables-1.10.1/extensions/ColVis/css/dataTables.colvis.jqueryui.css')}}" media="all" rel="stylesheet" type="text/css"/>

<link href="{{ url_for('reporting.static', filename='DataTables-1.10.1/extensions/TableTools/css/dataTables.tableTools.min.css')}}" media="all" rel="stylesheet" type="text/css"/>

<link href="{{ url_for('reporting.static', filename='DataTables-1.10.1/extensions/ColReorder/css/dataTables.colReorder.min.css')}}" media="all" rel="stylesheet" type="text/css"/>
{% endmacro %}

{% macro datatables_js() %}
<script src="{{ url_for('reporting.static', filename='DataTables-1.10.1/media/js/jquery.dataTables.js')}}" type="text/javascript"></script>
<script src="{{ url_for('reporting.static', filename='js/dataTables.bootstrap.js') }}" type="text/javascript"></script>

<script src="{{ url_for('reporting.static', filename='DataTables-1.10.1/extensions/ColVis/js/dataTables.colVis.min.js')}}"></script>

<script src="{{ url_for('reporting.static', filename='DataTables-1.10.1/extensions/TableTools/js/dataTables.tableTools.min.js')}}"></script>
<script src="{{ url_for('reporting.static', filename='DataTables-1.10.1/extensions/ColReorder/js/dataTables.colReorder.min.js')}}"></script>

{% endmacro %}

{% macro pivot_css() %}
<link href="{{ url_for('reporting.static', filename='pivottable/dist/pivot.css')}}" media="all" rel="stylesheet" type="text/css"/>
{% endmacro %}

{% macro pivot_custom_js() %}
<!--<script src="{{ url_for('reporting.static', filename='pivottable/examples/ext/jquery-1.8.3.min.js')}}"></script>-->

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ url_for('reporting.static', filename='pivottable/examples/ext/d3.v3.min.js')}}"></script>

<script type="text/javascript" src="{{ url_for('reporting.static', filename='pivottable/examples/ext/jquery-ui-1.9.2.custom.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('reporting.static', filename='pivottable/examples/ext/jquery.ui.touch-punch.min.js')}}"></script>

<script type="text/javascript" src="{{ url_for('reporting.static', filename='pivottable/pivot.js')}}"></script>
<script type="text/javascript" src="{{ url_for('reporting.static', filename='pivottable/dist/gchart_renderers.js')}}">        </script>
<script type="text/javascript" src="{{ url_for('reporting.static', filename='pivottable/dist/d3_renderers.js')}}"></script>
<script type="text/javascript" src="{{ url_for('reporting.static', filename='pivottable/examples/ext/jquery.csv-0.71.min.js')}}"></script>



<script type="text/javascript">
    $(document).ready(function(){
        $(".table-responsive").css("padding-right", "15px");
    })
</script>
{% endmacro %}

{% macro form_css() %}
    <!--<link href="{{ url_for('reporting.static', filename='form/css/bootstrap-datetimepicker.min.css' )}}" media="all" rel="stylesheet" type="text/css"/>-->
    <!--<link href="{{ url_for('reporting.static', filename='form/css/select2.css' )}}" media="all" rel="stylesheet" type="text/css"/>-->
{% endmacro %}

{% macro form_js() %}
    <!--<script src="{{ url_for('reporting.static', filename='form/js/moment-2.7.0.min.js')}}"></script>-->
    <!--<script src="{{ url_for('reporting.static', filename='form/js/bootstrap-datetimepicker.min.js')}}"></script>-->
    <!--<script src="{{ url_for('reporting.static', filename='form/js/select2.min.js')}}"></script>-->
    <!--<script src="{{ url_for('reporting.static', filename='form/js/form.js')}}"></script>-->
{% endmacro %}
