{% if base_template is defined %}
  {% extends base_template %}
{% else %}
  {% extends "reporting_imports.html" %}
{% endif %}

{% block title %}Internal Server Error{% endblock %}
{% block body %}
  <h1>Internal Server Error</h1>
  <p>An internal server error precludes your request.</p>
{% endblock %}
