{% extends base_template %}
{% from "reporting/macros.html" import render_form %}
{% import 'report_lib.html' as report_lib with context  %}



{% block head %}

{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block head_css %}
        <link href="{{url_for('appbuilder.static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='css/themes/'+ appbuilder.app_theme )}}"  rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='datepicker/bootstrap-datepicker.css')}}" rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='select2/select2.css')}}" rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='css/flags/flags16.css')}}" rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='css/ab.css')}}" rel="stylesheet">
        <script src="{{url_for('appbuilder.static',filename='js/jquery-latest.js')}}"></script>
        <script src="{{url_for('appbuilder.static',filename='js/ab_filters.js')}}"></script>
{{ report_lib.form_css()}}



<style type='text/css'>
    /*.container {*/
        /*padding: 0px;*/
        /*margin-left: 0px;*/
        /*margin-right: 0px;*/
    /*}*/

</style>
{#{ lib.form_css() }#}
{% endblock %}

{% block body %}
{{super()}}
{% block footer %}
        {% endblock %}

    	  {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
        <div class="container-fixed">
  <div class="row">
{% for category, m in messages %}
    {% if category %}
        <div class="alert alert-{{ category }}">
    {% else %}
        <div class="alert alert-info">
    {% endif %}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ m }}
    </div>
{% endfor %}
{% endif %}
{% endwith %}
  </div>
</div>


 <button type="button" class="btn btn-default btn-sm" id="collapse_button" style="margin-left: 5px">
  <span class="glyphicon glyphicon-resize-horizontal"></span> Hide/Show Sidebar</button>

<div style="top: 15px">
  <div class="col-md-9 col-md-push-3 column" id="main_analysis">
    {% block analysis %}
    {% endblock %}
    {% if branding is defined %}
        {% include branding %}
      {% endif %}
{#    {% endif %}#}
  </div>
  <div class="col-md-3 col-md-pull-9 column" id="sidebar" style="padding-bottom: 20px">
    <h2>Available Reports<br><small>Select from the report tree</small></h2>
    {% include "reporting/sidebar.html" %}
    {% if form is defined %}
      <h2>Report Form<br><small>Generate a new report</small></h2>
      {{render_form(form=form,form_name="parameter_form")}}
      <a data-toggle="modal" href="#myModal" class="btn btn-primary" style="margin-top: 10px">Save the report</a>

      <!-- <a data-toggle="modal" href="#myModal" class="btn btn-primary" style="margin-top: 10px">Save the report</a> -->

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Save Report</h4>
            </div>

            <div class="modal-body">
              {{render_form(ReportNameForm, button_overide="<button id='report_save_button' type='submit' name='Save'  class='btn btn-default' onclick='submitForms()' data-dismiss='modal'>Save</button>",form_name="save_form")}}
            </div>
            <script>

               $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


              submitForms = function(){
                console.log(window.location.href.toString().split(window.location.host)[1]);
                var currdir=window.location.href.toString().split(window.location.host)[1];
                var form1Data = $('#parameter_form').serialize(),
                data = (form1Data !== "" ? form1Data + "&" : "") + $('#save_form').serialize();
                $.ajax({
                  type: 'POST',
                  url: $SCRIPT_ROOT + currdir + '/save',
                  data: data,
                  success: function(msg){
                      if(msg==='Form contains validation errors'){
                    alert(msg);

                      }
                      else{
                         $('.tree').replaceWith(msg)
                         alert('Succesfully Saved-Go to Session Reports to Re-order');

                      }
                  }
                });
                return false;
              };

              $(document).on('submit','#save_form',function(event){
                event.preventDefault();
                return submitForms();

              });
            </script>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    {% endif %}
  </div>
</div>
</div>
{% endblock%}

        {% block tail_js%}
            <script src="{{url_for('appbuilder.static',filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('appbuilder.static',filename='datepicker/bootstrap-datepicker.js')}}"></script>
	<script src="{{url_for('appbuilder.static',filename='select2/select2.js')}}"></script>
	<script src="{{url_for('appbuilder.static',filename='js/ab.js')}}"></script>
        {% endblock%}

{% block tail %}
        {{super()}}
        {{ report_lib.form_js()}}


<script src="{{ url_for('reporting.static', filename='bower_components/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function(){

        $('#collapse_button').on('click',function(){
            $('#main_analysis').toggleClass('col-md-push-3');
            $('#sidebar').fadeToggle('slide', function(){
            });
        })
    })
//
//    $(function () {
//        $(".date_sa").datepicker({
//            ,pickTime: false
//
//        });
//    });
</script>
        {%endblock%}
