{# Renders field for bootstrap 3 standards.
 
    Params:
        field - WTForm field
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_
 
    Example usage:
        {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
#}
{% macro render_field(field, label_visible=true) -%}
 
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' or field.type !='CSRFTokenField') and label_visible %}
            <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
        {% endif %}
        {{ field(class_='form-control', **kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}
 
{# Renders checkbox fields since they are represented differently in bootstrap
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_
 
    Example usage:
        {{ macros.render_checkbox_field(form.remember_me) }}
 #}
{% macro render_checkbox_field(field) -%}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ field.label }}
        </label>
    </div>
{%- endmacro %}
 
{# Renders radio field
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_
 
    Example usage:
        {{ macros.render_radio_field(form.answers) }}
 #}
{% macro render_radio_field(field) -%}
    {% for value, label, _ in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}

{# Renders datetime_field
    Params:
        field - WTForm field (there are no check, but you should put here only datetimefield.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_datetime_field(form.startdate) }}
 #}

{% macro render_datetime_field(field) -%}
<div class="form-group {% if field.errors %}has-error{% endif %}">
<label class="control-label">{{ field.label }}</label>
      <div class='input-group date' id='{{ field.id }}_div'>
                <input type="text" data-date-format="dd-mm-yyyy" class="form-control" name="{{ field.id }}" id="{{ field.id }}" value="{{ field.data[0] }}" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>

                </div>
                         <!--<span class="help-inline" >{{ field.description }} </span>-->
            {% if field.errors -%}
            {% for error in field.errors -%}

            <p class="help-block">{{ error }}</p>
            {%- endfor %}
            {%- endif %}
                        </div>
            <script type="text/javascript">
            $(function () {
                $("#{{ field.id }}_div").datetimepicker();
            });
        </script>
{%- endmacro %}

{# Renders date_field
    Params:
        field - WTForm field (there are no check, but you should put here only datetimefield.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_date_field(form.startdate) }}
 #}

{% macro render_date_field(field) -%}
         <div class="form-group {% if field.errors %}has-error{% endif %}">
          <label class="control-label">{{ field.label }}</label>
<!--data-date-format="dd-mm-yyyy"-->
      <div class='input-group date_sa appbuilder_date'  id='{{ field.id }}_div' >
                     <input type="text"  name="{{ field.id }}" class="form-control" id="{{ field.id }}" value="{{ field.data[0] }}">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>

                    </span>

                </div>
                          <!--<span class="help-inline" >{{ field.description }} </span>-->
            {% if field.errors -%}
            {% for error in field.errors -%}

            <p class="help-block">{{ error }}</p>
            {%- endfor %}
            {%- endif %}

                   </div>
{%- endmacro %}

{# Renders WTForm in bootstrap way. There are two ways to call function:
     - as macros: it will render all field forms using cycle to iterate over them
     - as call: it will insert form fields as you specify:
     e.g. {% call macros.render_form(form, action_url=url_for('login_view'), action_text='Login',
                                        class_='login-form') %}
                {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
                {{ macros.render_field(form.password, placeholder='Input password', type='password') }}
                {{ macros.render_checkbox_field(form.remember_me, type='checkbox') }}
            {% endcall %}
 
     Params:
        form - WTForm class
        action_url - url where to submit this form
        action_text - text of submit button
        class_ - sets a class for form
    #}
{% macro render_form(form, action_url='', action_text='Submit', class_='', btn_class='btn btn-default' ,button_name="submit", form_name="", onclick="",button_overide='', enctype="") -%}
 
    <form method="POST" action="{{ action_url }}" role="form" id="{{form_name}}" class="{{ class_ }}" enctype={{enctype}}>
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for f in form %}
                {% if f.type == 'BooleanField' %}
                    {{ render_checkbox_field(f) }}
                {% elif f.name == "csrf_token" %}
                    {{ render_field(f,label_visible=false) }}
                {% elif f.type == 'RadioField' %}
                    {{ render_radio_field(f) }}  #}
                {% elif f.type == 'DateTimeField' %}
                   {{ render_datetime_field(f) }}
               {% elif f.type == 'DateField' %}
                    {{ render_date_field(f) }}
                {% else %}
                    {{ render_field(f) }}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if button_overide == '' %}
        <button type="submit" name="{{ button_name }}"  class="{{ btn_class }}" onclick="{{ onclick }}">{{ action_text }} </button>
        {% else %}
        {{button_overide|safe}}
        {%endif %}

    </form>
{%- endmacro %}

{% macro render_project_header(project_array,report_name) %}
  <h1>{{ report_name }}
  {% if project_array[0] is defined %}
    {% if project_array|length == 1 %}
      <br><small>Project: {{ project_array[0] }}
    {% else %}
      <br><small>Projects:
      {% for project in project_array %}
        {% if loop.last %}
          {{ project }}
        {% else %}
          {{ project }} &middot
        {% endif %}
      {% endfor %}
    {% endif %}
  {% else %}
    <small style="font-style: italic">Generated from the report form</small></h1>
  {% endif %}
{% endmacro %}
