{% extends "reporting/app_builder_base_report.html" %}
{% from "report_lib.html" import pivot_css ,pivot_custom_js ,form_js%}


{% block head_css %}
        <!--need to use different jquery-->

        <link href="{{url_for('appbuilder.static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='css/themes/'+ appbuilder.app_theme )}}"  rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='datepicker/bootstrap-datepicker.css')}}" rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='select2/select2.css')}}" rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='css/flags/flags16.css')}}" rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='css/ab.css')}}" rel="stylesheet">

        <script src="{{ url_for('reporting.static', filename='pivottable/examples/ext/jquery-1.8.3.min.js')}}"></script>
        <script src="{{url_for('appbuilder.static',filename='js/ab_filters.js')}}"></script>
{{ report_lib.form_css()}}



<style type='text/css'>
    /*.container {*/
        /*padding: 0px;*/
        /*margin-left: 0px;*/
        /*margin-right: 0px;*/
    /*}*/

</style>
  {{ pivot_css() }}
  {% endblock %}
{% from "reporting/macros.html" import render_project_header %}

{% block analysis %}

<div class="page-header">
{% if heading is defined %}
    {{ render_project_header(sub_heading,heading) }}
{% endif %}
</div>
<div id="output" class="container" ></div>
<br/><br/><br/>
<div id="input" style="display:none;position: relative">
    {{ table|safe }}
</div>
 {% endblock %}


{% block tail %}

        {{ report_lib.form_js()}}



<script type="text/javascript">
    $(document).ready(function(){

        $('#collapse_button').on('click',function(){
            $('#main_analysis').toggleClass('col-md-push-3');
            $('#sidebar').fadeToggle('slide', function(){
            });
        })
    })

    $(function () {
        $(".date_sa").datetimepicker({
             format: 'D/M/YYYY'
            ,pickTime: false

        });
    });
</script>{{ pivot_custom_js()}}

<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart", "charteditor"]});
              $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                var currdir=window.location.href.toString().split(window.location.host)[1];
    $(function(){
//        var count = function(data, rowKey, colKey) {
//            return {
//                count: 0,
//                push: function(record) { this.count++; },
//                value: function() { return this.count; },
//                format: function(x) { return x; },
//                label: "Count"
//            };
//        };
        var input = $("#input");
        var aggregators = $.pivotUtilities.aggregators;
        var aggTemplates = $.pivotUtilities.aggregatorTemplates;
        console.log('Loading Google')
        var pivot_arg = { {{pivot_arguments|safe}} }
        console.log(pivot_arg)
        var prev_config
        $.ajax({
                    type: "POST",
                    url: $SCRIPT_ROOT + currdir + '/loadState',
                    async: false,
                }).done(function(data) {
                    try {

                        var config_data = $.parseJSON(data);
                        if ((config_data.cols.length) > 0 && (config_data.rows.length) >0)
                        {
                            prev_config = config_data

                        }
                        else
                        {
                           prev_config = pivot_arg;

                        }
                        //Some cleaning
                        delete prev_config.derivedAttributes;
                        delete prev_config.aggregators;
                        delete prev_config.renderers;
                         console.log('loaded state');


                    }
                    catch(err) {
                        console.log("Error Loading State");
                        prev_config=pivot_arg;
                    }
        });
        prev_config.renderers= $.extend(
                            $.pivotUtilities.renderers,
                            $.pivotUtilities.gchart_renderers,
                            $.pivotUtilities.d3_renderers
                            )
        prev_config.onRefresh=function (oData){
                     $.ajax({
                    type: "POST",
                    url: $SCRIPT_ROOT + currdir + '/saveState',
                    data: JSON.stringify(oData, null, '\t'),
                    contentType: 'application/json;charset=UTF-8',
                }).done(function(data2){
                         console.log('StateSaved')

                })}


        var $output = $("#output")
        var $pivotTable=$output.pivotUI(input
                ,prev_config
        );
            //TODO add save functionality
            //Options
            //Save to disk on refresh, pass in arguments via flask
          //$('#output').data('pivotUIOptions')

    }
    );


</script>

  {% endblock %}


