{% block head %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">

<!--<script src="{{ url_for('reporting.static', filename='js/jquery.min.js') }}" type=text/javascript></script>-->
<!--<link rel=stylesheet type=text/css href="{{ url_for('reporting.static', filename='css/jquery-ui.css') }}">-->

<!--<script src="{{ url_for('reporting.static', filename='js/moment.min.js') }}" type=text/javascript></script>-->
<!--<link rel=stylesheet type=text/css href="{{ url_for('reporting.static', filename='css/bootstrap.min.css') }}">-->
<!--<script src="{{ url_for('reporting.static', filename='js/bootstrap.min.js') }}" type=text/javascript></script>-->
<!--<script src="{{ url_for('reporting.static', filename='js/bootstrap-datetimepicker.min.js') }}" type=text/javascript></script>-->
<!--<link rel=stylesheet type=text/css href="{{ url_for('reporting.static', filename='css/bootstrap-datetimepicker.min.css') }}">-->
<!--&lt;!&ndash;<script src="{{ url_for('reporting.static', filename='js/jquery-ui-1.10.4.custom.min.js') }}" type=text/javascript></script>&ndash;&gt;-->


<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
    <style type="text/css">
    nav {
        margin-bottom: 50px;
    }
    .navbar-right {
        padding-right: 15px;
    }
    body {
      margin-top: 50px
    }
</style>
{% endblock %}

{% block body %}{% endblock %}
