<div class="tree well">
    {% for root in roots %}
    <li ><span><i class="icon-folder-open">{{ G.node[root]['name'] }}</i></span><ul>
        {% for branch in G.successors(root) recursive %}
        {% if G.node[branch]['analysis_id'] != None %}
        <a id="Tree_{{G.node[branch]['analysis_id']}}_{{G.node[branch]['report_id']}}" href="{{ url_for('.modelview', analysis_id=G.node[branch]['analysis_id'],report_id=G.node[branch]['report_id']) }}">
            <li><span><i class="icon-minus-sign">{{ G.node[branch]['name'].replace('_', ' ').title() }}</i></span>
        </a>
        {% else %}
        <li><span><i class="icon-minus-sign">{{ G.node[branch]['name'] }}</i></span>
            {% endif %}
            {% if G.successors(branch) %}
            <ul>{{ loop(G.successors(branch)) }}</ul>
            {% endif %}
        </li>
        {% endfor %}</ul>
    </li>
    {% endfor %}
</div>
    