{% extends "reporting/app_builder_base_report.html" %}
{% from "reporting/macros.html" import render_project_header %}
{% from "report_lib.html" import datatables_js ,datatables_css %}

{% block head_css %}
  {{ super() }}
  {{ datatables_css() }}
           <style>

    #example tfoot  {
        width :100%
        padding: 3px;
        box-sizing: border-box;
    }

    #tbl_qunatity { table-layout: fixed; }

    div.DTTT { margin-bottom: 0.5em; float: right; }
    div.dataTables_wrapper { clear: both; }

    .flagged  {
        background-color: #e4b9b9 !important;
    }

    .bold_font  {
        font-weight: bold;
    }

</style>
{% endblock %}

{% block analysis %}

<div class="page-header">
    {% if heading is defined %}
        {{ render_project_header(sub_heading,heading) }}
    {% endif %}
 </div>

{% if table is defined%}
{{table|safe}}
{% endif %}
{% endblock %}

<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery-ui.css') }}">-->

<!--<script src="{{ url_for('reporting.static', filename='DataTables-1.10.1/extensions/Scroller/js/dataTables.scroller.min.js')}}"></script>-->
<!--<link href="{{ url_for('reporting.static', filename='DataTables-1.10.1/extensions/Scroller/css/dataTables.scroller.min.css')}}" media="all" rel="stylesheet" type="text/css"/>-->

<!--<script src="{{ url_for('reporting.static', filename='DataTables-1.10.1/extensions/ColReorderWithResize.js')}}" />-->
{% block tail %}
{{ super() }}

{{datatables_js()}}


<script>
              $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                var currdir=window.location.href.toString().split(window.location.host)[1];
$(document).ready(function() {
    if( $("#example").length ) {
    //Setup - add a text input to each footer cell
    $('#example tfoot th').each( function () {
        var title = $('#example thead th').eq( $(this).index() ).text();
        $(this).html( '<input style="width:100%;" type="text" placeholder="" />' );
    } );



        var scrollX = $(window).width()*100/100;

        // DataTable
//                                {% if column_widths is defined %}
//                "columnDefs": {{ column_widths }},
//               {% endif %}
        $('#example tbody').css('white-space','nowrap');
        var table = $('#example').DataTable({


            "dom": 'RClfrtip',
//            "sScrollX": scrollX,
//            "sScrollX": '100%',

               "bAutoWidth": false,
                "stateSave": true,
                "stateLoadCallback": function (oSettings, oData) {
                var o;

                $.ajax({
                    type: "POST",
                    url: $SCRIPT_ROOT + currdir + '/loadState',
                    async: false,
                }).done(function(data) {
                    try {
                         console.log(data);

                         o = $.parseJSON(data);

                    }
                    catch(err) {
                        console.log("Error Loading State");
                        o=oData;
                    }

                });

                return o;
            },
            "stateSaveCallback": function (oSettings, oData) {

                $.ajax({
                    type: "POST",
                    url: $SCRIPT_ROOT + currdir + '/saveState',
                    data: JSON.stringify(oData, null, '\t'),
                    contentType: 'application/json;charset=UTF-8',
                }).done(function(data){

                });
            },
            colVis: {
              restore: "Restore",
              showAll: "Show all"


               {% if json_groups is defined %}
                ,groups: {{ json_groups }}
               {% endif %}
               {% if exclude is defined %}
                ,exclude: {{ exclude }}
               {% endif %}


            }

          }
        );
//"{{ url_for('reporting.static', filename='DataTables-1.10.1/extensions/TableTools/swf/copy_csv_xls_pdf.swf') }}",
//    var tt = new $.fn.dataTable.TableTools( table,       {
//              "sSwfPath":  "{{ url_for('reporting.static', filename='DataTables-1.10.1/extensions/TableTools/swf/copy_csv_xls_pdf.swf') }}"
//             ,"aButtons": ["copy"]
//
//    } );

    //$( tt.fnContainer() ).insertBefore('div.dataTables_wrapper');
  // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx ) {
        $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function () {
            table
                .column( colIdx )
                .search( this.value )
                .draw();

        } );
    } );

        //document.getElementById("example").deleteTFoot();

    };
} );

//       var r = $('#example tfoot tr');
//  r.find('th').each(function(){
//    $(this).css('padding', 8).css('width',20);
//  });
//  $('#example thead').append(r);
//  $('#search_0').css('text-align', 'center').css('width',20);



</script>

{% endblock %}
