<style type="text/css">
    .jumbotron {
        border-radius: 5px;
        text-align: center;
        /*font-variant: small-caps;*/
        margin-bottom: 0px;
        background-position: 0% 25%;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
    }
    .jumbotron > h1 {
        font-family: ubuntu;
        font-size: 80px;
        text-shadow:0 0 15px black;
    }
    .jumbotron > p {
        font-family: ubuntu;
        color: darkred;
        text-shadow:0 0 2px black;
        font-style: italic;
    }
    .row {
        margin-top: 40px;
    }
</style>

<div class="jumbotron">
   <h1>Reporting Platform</h1>
    <!-- <img src="{{ url_for('static', filename='images/adp.png') }}" style="border-radius:7px"> -->
    <p>Powered by Sentilus</p>
</div>

